# dependencies
/node_modules

# testing
/coverage
/playwright-report/
/playwright/.cache/
/test-results/

# production
/build
/public/build

# cache
/.cache

# lockfiles
pnpm-*.yaml

# prisma
/prisma/migrations
